<!DOCTYPE html>
<html>
<head>
	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Quotable</title>
</head>
<body>
	<h1>Quotable</h1>
	{% block content %}{% endblock content %} 
	<div class="footer navbar-fixed-bottom">
	  <div class="row">
		<div class="col-xs-6">
			<h4><a href="#">Back to Home</a></h4>
		</div>
		<div class="col-xs-6">
			<h4 style="color:grey;">Sources:</h4>
			<h5><a href="#">goodreads.com</a></h5>
			<h5><a href="#">imdb.com</a></h5>
		</div>
	  </div>
	</div>
</body>
</html>