<!DOCTYPE html>
<html>
<style type="text/css">
 li {
  line-height: 20px;
  list-style-type: none;
}
</style>
<head>
    <title>Mode</title>
</head>
<body>
    {% extends "base.html" %}
{% block content %}
<div class="list_view">
        <!-- <table class="table table-striped"> -->
        <table id="contacts_table" class="display" cellspacing="0" width="100%">

            <thead>
                    <tr>
                    <th>Name</th>
                    <th>img_src</th>
                    <th>rating</th>
                    </tr>
            </thead>
            <tbody>
{% for i in grid_data %}
<tr>
<td><a href="{{ i.imdb_id }}">{{ i.name }}</a></td>
<td>{{ i.rating }}</td>
<td><img src="{{ i.img_src }}"></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
</body>
</html>
