<!DOCTYPE html>
<html>
<style type="text/css">
 li {
  line-height: 20px;
  list-style-type: none;
}
</style>
<head>
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Quotable ~ Randomzier</title>
<body class = "container" >
    {% extends "base.html" %}
<div>
{% block content %}

<div><p> {{ random_quotes.quote }} </p></div>

<div> <p>{{ random_quotes.title }} </p></div>
</div>
{% endblock %}
</body>
</html>
